header {
    padding: 10px 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

nav {
    background-color: #f8f9fa;
    padding: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#toggle-menu {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

#nav-menu {
    display: none; /* Ocultar o menu inicialmente */
}

#nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#nav-menu ul li {
    margin: 5px 0;
}

/* Exibir o menu quando ativo */
.show-menu {
    display: block !important;
}
